:root {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    --background: #202020;
    --background-on: #ffffff;
    --background-dark: #1b1b1b;
    --background-light: #333333;

    --surface: #2c2c2c;
    --surface-on: #ffffff;
    --surface-dark: #1d1d1d;
    --surface-light: #3f3f3f;

    --primary: #003cff;
    --primary-on: #ffffff;
    --primary-dark: #0032d6;
    --primary-light: #3363ff;

    --button: #2c2c2c;
    --button-on: #ffffff;
    --button-dark: #1d1d1d;
    --button-light: #3f3f3f;
    --button-shadow: 4px 4px 8px 4px rgba(15, 15, 15, 0.425);

    --error: #ff0000;
    --error-on: #ffffff;
    --positive: #00aa00;
    --positive-on: #ffffff;

    --small: 8px;
    --user-size: 42px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--background);
    color: var(--background-on);
    display: flex;
    flex-direction: column;
}

.main-grid {
    height: 100%;
    display: grid;
    grid-template-areas:
    'header header header'
    'sideL main sideR';
    grid-template-columns: 256px 1fr 256px;
    grid-template-rows: 64px 1fr;
    gap: var(--small);
}


header {
    grid-area: header;
}

.spacer {
    flex: 1;
}

.main {
    grid-area: main;
    overflow-y: scroll;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.row,
.col {
    display: flex;
    gap: var(--small);

    &.center {
        align-items: center;
    }

    &.center-j {
        justify-content: center;
    }

    &.start {
        align-items: start;
    }

    &.end {
        align-items: end;
    }

    &.stretch {
        align-items: stretch;
    }

    &.space {
        justify-content: space-between;
    }
}

.side {
    background-color: var(--background-dark);
    
    & .overview {
        aspect-ratio: 1;
        border-radius: var(--small);
        background-color: var(--surface);
        align-items: center;
        justify-content: space-between;
        padding: var(--small);
        gap: var(--small);
    }

    &:first-child {
        grid-area: sideL;
    }

    &:last-child {
        grid-area: sideR;
    }
}


span.center,
.text-center {
    text-align: center;
}

input[type=text],
input[type=number],
select {
    border: none;
    background-color: var(--surface-dark);
    color: var(--surface-on);
    border-radius: var(--small);
    padding: var(--small);
    // appearance: textfield;

    &:focus {
        outline: 2px solid var(--primary);
    }

    &:invalid {
        outline: 2px solid var(--error);
    }

}

.error {
    outline: 2px solid var(--error);
}